/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
    
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}


header {
    height: 60px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

main {
    background-color: black;
    height: calc(100vh - 120px);
    width: 100vw;
    overflow: auto;
    color: white;
}

.main-container {
    margin: 20px auto; 
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    height: 60px;
    width: 100vw;
    background-color:#222;
    color: white;
}

.footer-container, .main-container, .header-container {
    display: flex;
    height: 100%;
    width: 100vw;
}


h5 {
    font-size: 10px;
    font-weight:lighter;
}

/* 
    HEADER
*/

.header-container {
    position: relative;
}

.speaker {
    width: 100px;
    height: 20px;
    color: white; 
    margin-right: 5px;
}

.fa-maximize {
    width: 20px;
    height: 20px;
    color: white;
}

.speaker, .fa-maximize {
    background-color: #4A4A4A;
    border-radius: 5px;
    text-align: center;
    line-height: 19px;
    font-size: smaller;
}

.view {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* 
    MAIN
*/

.card {
    height: 140px;
    width: 220px;
    background-color: lightcoral;
    margin-bottom: 12px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.user {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.4);
    padding: 2px;
}

/* 
    FOOTER
*/

.my-col-1-3 {
    /* border: 1px dashed white; */
    min-width: calc(100% / 3);
    display: flex;
    align-items: center;
}

.my-col-1-3:nth-of-type(2) > * {
    justify-content: space-between;
}

button {
    color: white;
    background: none;
    border: none;
    font-size: large;
    padding-left: 8px;

}

footer .fa-solid{
    padding-bottom: 8px;
}

.icons {
    font-size: 24px;
    cursor:pointer;
}

.angle {
    font-size: 12px;
    padding: 0 8px 0 8px;
}

.my-col-1-3:nth-of-type(3) {
    justify-content: flex-end;
}

.end {
    background-color: #4A4A4A;
    color: red;
    height: 100%;
    /* width: 20%; */
}

.rooms {
    color: black;
    filter:invert(100%) ;
}

.share {
    color: #4CC703;
}